$breakpoint: 400px;

$color1: #1647a3;
$color2: #f2fcfc;
$color3: #ddd;

$bg: $color1;
$text: $bg;

$cardBorderColor: $color3;
$cardFrontBg: $color2;
$cardBackBg: $cardFrontBg;
$cardFrontText: $text;
$cardBackText: $cardFrontText;

$cardDropShadow: drop-shadow(0 0 0.25rem #33333366);
$cardBorder: 15px solid $cardBorderColor;
$cardBorderRadius: 20px;

$inputBg: $color3;
$inputText: $color1;

.logo-card {
  aspect-ratio: 6/4;
}

.medium-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.big-text {
  font-size: 2.25rem;
  font-weight: 500;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-10 {
  flex-grow: 10;
}