$breakpoint: 400px;

$color1: #1647a3;
$color2: #f2fcfc;
$color3: #ddd;
$color4: #eaeaea;

$bg: $color1;
$text: $bg;
$borderColor: $color3;

$cardBorderColor: $borderColor;
$cardFrontBg: $color2;
$cardBackBg: $cardFrontBg;
$cardFrontText: $text;
$cardBackText: $cardFrontText;

$cardDropShadow: drop-shadow(0 0 0.25rem #33333366);
$cardBorder: 15px solid $cardBorderColor;
$cardBorderRadius: 20px;

$buttonBg: $color4;
$buttonText: $color1;
$buttonBorder: 5px solid $borderColor;

$dropDownBg: $color4;
$dropDownText: $color1;
$dropDownBorder: 1px solid $color4;
$dropDownOpenBorder: 1px solid $color1;
$dropDownListBg: $color3;


$inputBg: $color3;
$inputText: $color1;
$inputBorder: none;

$listBg: $color3;
$listText: $color1;
$listBorder: 10px solid $borderColor;

$listItemBg: $color2;
$listItemText: $color1;
$listItemBorder: 3px solid $color2;

$listItemSelectedBg: $color2;
$listItemSelectedText: $color1;
$listItemSelectedBorder: 3px solid $color1;

.logo-card {
  aspect-ratio: 6/4;
}

.medium-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.big-text {
  font-size: 2.25rem;
  font-weight: 500;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-10 {
  flex-grow: 10;
}