$breakpoint: 400px;

$bg: #1647a3;
$cardBorderColor: #ddd;
$cardFrontBg: #f2fcfc;
$cardBackBg: $cardFrontBg;
$cardFrontText: $bg;
$cardBackText: $cardFrontText;

$cardDropShadow: drop-shadow(0 0 0.25rem #33333366);
$cardBorder: 15px solid $cardBorderColor;
$cardBorderRadius: 20px;

.big-text {
  font-size: 2.25rem;
  font-weight: 500;
}