@import "./utilities/variables.scss";

.app {
  position: fixed;

  width: 100vw;
  height: 100vh;
  
  .views-container {
    max-width: 500px;
    max-height: 700px;
    height: 90vh;
    margin: 0 auto;
    padding: 40px 20px;
    
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  
  .views-container.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 125ms all ease-out;
  }

  .views-container.exit {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
    transition: 125ms all ease-in;
  }
}

.view {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 20px;
  gap: 10px;

  color: $bg;
  background-color: $cardFrontBg;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  
  border: $cardBorder;
  border-radius: $cardBorderRadius;
  
  img {
    object-fit: cover;
    border-radius: $cardBorderRadius;
    width: 100%;
    height: 100%;
  }

  .button,
  .divider,
  .input,
  .list,
  p {
    max-width: 300px;
  }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 600ms;
    transform-style: preserve-3d;

    .front,
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    .back{
      transform: rotateY(180deg);
    }
  }

  &.flipped {
    .inner {
      transform: rotateY(180deg);
    }
  }
}

.button {
  cursor: pointer;
  
  background-color: $buttonBg;
  color: $buttonText;
  border: $buttonBorder;

  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;

  width: 100%;
  padding: 8px 16px;
}

.divider {
  background-color:  $borderColor;
  width: 100%;
  height: 1px;
}

.input {
  text-align: center;
  background-color: $inputBg;
  color: $inputText;
  border: none;
  outline: none;

  font-size: 1.25rem;
  border-radius: 5px;

  width: 100%;
  padding: 8px 16px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  background-color: $listBg;
  color: $listText;
  border: $listBorder;

  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  
  gap: 8px;

  .item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    background-color: $listItemBg;
    color: $listItemText;
    border: $listItemBorder;

    padding: 4px 10px;
    border-radius: 5px;
  }

  .item.selected {
    background-color: $listItemSelectedBg;
    color: $listItemSelectedText;
    border: $listItemSelectedBorder;
  }
}

.list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}