
.app {
  position: fixed;

  width: 100vw;
  height: 100vh;
  
  .views-container {
    max-width: 500px;
    max-height: 900px;
    height: 90vh;
    margin: 0 auto;
    padding: 40px 20px;
    
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  
  .views-container.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 125ms all ease-out;
  }

  .views-container.exit {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
    transition: 125ms all ease-in;
  }
}

.view {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 20px;
}

.logo-card {
  aspect-ratio: 6/4;
}

.answer {
  transition: 500ms ease-in-out;
}

.small-text {
  font-size: 1rem;
  font-weight: 400;
}

.medium-text {
  font-size: 1.4rem;
  font-weight: 500;
}

.big-text {
  font-size: 2.25rem;
  font-weight: 500;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-10 {
  flex-grow: 10;
}