@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./utilities/variables.scss";

:root {
  --color-1: #1647a3;
  --color-2: #f2fcfc;
  --color-3: #ddd;
  --color-4: #eaeaea;

  --color-green: #238823;
  --color-yellow: #ffbf00;
  --color-red: #d2222d;
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-1);
}