.input {
  text-align: center;
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
  outline: none;

  font-size: 1.25rem;
  border-radius: 5px;

  width: 100%;
  padding: 8px 16px;
}